.one.column {
    width: 98%;
}

.wpcf7-form .column {
    margin-bottom: 10px;
}

.column, .columns {
    float: left;
    margin: 0 1% 40px;
}



input[type="email"] {
    font-family: "Poppins", sans-serif;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 3px;
border-left-width: 0px;
box-shadow: none;
    
    font-size: 15px;
    line-height: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.6px;
}

textarea {
    font-family: "Poppins", sans-serif;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 3px;
border-left-width: 0px;
box-shadow: none;
    
    font-size: 15px;
    line-height: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.6px;
}

input[type="text"] {
    font-family: "Poppins", sans-serif;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 3px;
border-left-width: 0px;
box-shadow: none;
    
    font-size: 15px;
    line-height: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.6px;
}

.wpcf7-form .wpcf7-submit.wpcf7-form-control {
    font-family: "Poppins", sans-serif;
font-size: 24px;
line-height: 24px;
font-style: normal;
font-weight: 600;
letter-spacing: -0.6px;
background-color: #FFF;
color: #444444;
float: right;
}

.wpcf7-form .wpcf7-submit.wpcf7-form-control:hover {
background-color: #FFF;
color: #c4bfab !important;
float: right;
}

button-flat a.button, .button-flat:not(.header-plain) a.action_button, .button-flat a.tp-button, .button-flat button, .button-flat input[type="submit"], .button-flat input[type="reset"], .button-flat input[type="button"] {
    background-image: none;
    border-width: 0;
    border-style: solid;
    border-radius: 0;
    box-shadow: inset 0 0 0 0;
    -webkit-appearance: none;
}

a.button, a.tp-button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    display: inline-block;
    padding: 11px 20px;
    cursor: pointer;
    margin-right: 7px;
    border: 0;
    position: relative;
    overflow: hidden;
    
}
.wpcf7-submit {
    margin-bottom: 0!important;
}